
 
  <script>
    const currentUrl = new URL(window.location.href);
    const receiverId = currentUrl.searchParams.get('receiverId');
    if (receiverId) {
      const selectedUser = document.querySelector(`a[href*="receiverId=${receiverId}"]`);
      if (selectedUser) {
        selectedUser.classList.add("bg-primary");
        selectedUser.style.color = '#fff';
      }
    }
  </script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/refreshToken.js"></script>
  </body>
</html>