<div class="col-lg-4">
    <form action="/users/update-about/<%= userId %>" method="POST" class="d-flex align-items-center gap-2">
        <input type="text" name="newAbout" id="about" value="<%= currentUser.about %>" class="form-control">
        <input type="hidden" name="token" value="<%= token %>" class="d-none">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </form>
</div>