<%- include('partials/_header', { title: 'eChat' }) %>
  <div class="container-fluid d-flex  flex-column justify-content-center  vh-100"> <!--bg-primary-->
    <div class="row flex-grow-1 mt-5">
      <div class="col-lg-6">
        <h1 class="text-center">Welcome to the eChat</h1>
        <div class="text-center">
          <img src="/img/logo/logo.png" alt="logo" class="img-fluid" width="40%">
        </div>
        <p class="text-center">Connect with your friends and family on eChat.</p>
      </div>
      <div class="col-lg-6">
      <h2 class="text-start">Get Started</h2>
      <p class="text-start">Create an account or log in to get started.</p>
      <div class="d-flex gap-3">
        <a href="/auth/signup" class="btn btn-outline-primary btn-sm">Sign Up</a> 
        <a href="/auth/login" class="btn btn-primary btn-sm">Log In</a>
      </div>
      </div>
    </div>
  </div>
<%- include('partials/_footer') %>