<%- include('partials/_header', { title: 'Log In' }) %>
  <div class="container vh-100"> <!--bg-primary-->
    <div class="row flex-grow-1 mt-5">
       <div class="col-lg-6">
        <h1 class="text-start">Welcome to the <span class="text-primary">eChat</span></h1>
        <h3 class="text-start">Get Started by signing up</h3>
        <p class="text-start">Sign up to create an account and start chatting with your friends.</p>
        <div class="text-center">
          <img src="/img/logo/logo.png" alt="logo" class="img-fluid" width="40%">
        </div>
       </div>
       <div class="col-lg-6">
      <form action="/auth/signup" method="POST" class="col-lg-6">
        <h2 class="fs-4 lead fw-bold">Sign Up</h2>
         <label for="username" class="form-label">UserName</label>
         <input type="text" id="username" name="username" class="form-control" required>
        
         <label for="password" class="form-label">Password</label>
         <input type="password" id="password" name="password" class="form-control" required>
         
         <button type="submit" class="btn btn-primary my-3">Sign Up</button>
       </form>
       <a href="/auth/login" class="text-decoration-none m-2 text-dark">Already have an account? <span class="text-primary fw-bold">Log In</span></a>
      </div>
    </div>
  </div>
<%- include('partials/_footer') %>